*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.DS_Store
/build
app/build/
*.apk
*.ap_
*.aab
*.dex
captures/
.externalNativeBuild
.cxx
.kotlin/
Cloudpaper-debug.apk
